<h1><%= title %></h1>

<ul>
  <% if (post_list) for (post of post_list) { %>
  <li>
    <p><%= post.sender %></p>
    <p><%= post.content %></p>
  </li>
  <% } else { %>
  <li>There are no posts.</li>
  <% } %>
</ul>
