<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="<%= stylesheet %>" />
    <title>Members Only</title>
  </head>
  <body>
    <nav><a href="/">home</a> <a href="/sign-up">sign up</a></nav>
    <div class="container">
      <div class="container">
        <div class="full-width"><%- include(content) -%></div>
      </div>
    </div>
  </body>
</html>
