<h1><%= title %></h1>

<h2>login</h2>

<form method="POST" action="">
  <!-- <div>
    <input id="email" placeholder="email" name="email" type="email" required />
  </div> -->
  <div>
    <input
      id="username"
      placeholder="username"
      name="username"
      type="text"
      required
    />
  </div>
  <div>
    <input
      id="password"
      placeholder="password"
      name="password"
      type="password"
      required
    />
  </div>

  <% if (errors) for (error of errors) { %>
  <ul>
    <li><%= error.msg %></li>
  </ul>
  <% } %>
  <button type="submit">Submit</button>
</form>
